<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="InitialDirectory" value="c:/"/>
		<add key="ApplicationName" value="WpfTask"/>

		<add key="Gmail_UserName" value="user.123.jacob@gmail.com"/>
		<add key="Gmail_Password" value="User123123"/>
		
		<add key="SmtpClient_Port" value="587"/>
		<add key="SmtpClient_Host" value="smtp.gmail.com"/>
		<add key="SmtpClient_EnableSsl" value="true"/>
		<add key="SmtpClient_Timeout" value="10000"/>
		<add key="SmtpClient_UseDefaultCredentials" value="false"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
